<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Boxes"> <action name="Execute">
                <execute>gnome-boxes</execute>
            </action> </item>
            <item label="GDB"> <action name="Execute">
                <execute>xterm -e gdb</execute>
            </action> </item>
            <item label="Geany"> <action name="Execute">
                <execute>geany</execute>
            </action> </item>
            <item label="Sublime Text"> <action name="Execute">
                <execute>/opt/sublime_text/sublime_text</execute>
            </action> </item>
            <item label="VSCodium"> <action name="Execute">
                <execute>/usr/share/codium/codium --no-sandbox</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Emacs"> <action name="Execute">
                <execute>xterm -e emacs</execute>
            </action> </item>
            <item label="Kate"> <action name="Execute">
                <execute>kate</execute>
            </action> </item>
            <item label="KWrite"> <action name="Execute">
                <execute>kwrite</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Neovim"> <action name="Execute">
                <execute>xterm -e nvim</execute>
            </action> </item>
            <item label="Pico"> <action name="Execute">
                <execute>xterm -e pico</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>xterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
            <item label="Xedit"> <action name="Execute">
                <execute>xedit</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="17" label="Amusement">
                <item label="Oclock"> <action name="Execute">
                    <execute>oclock</execute>
                </action> </item>
                <item label="Xclock (analog)"> <action name="Execute">
                    <execute>xclock -analog</execute>
                </action> </item>
                <item label="Xclock (digital)"> <action name="Execute">
                    <execute>xclock -digital -update 1</execute>
                </action> </item>
                <item label="Xeyes"> <action name="Execute">
                    <execute>xeyes</execute>
                </action> </item>
                <item label="Xlogo"> <action name="Execute">
                    <execute>xlogo</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="dotty"> <action name="Execute">
                <execute>dotty</execute>
            </action> </item>
            <item label="E-book viewer"> <action name="Execute">
                <execute>ebook-viewer</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="Gwenview"> <action name="Execute">
                <execute>gwenview</execute>
            </action> </item>
            <item label="ImageMagick (color depth=q16)"> <action name="Execute">
                <execute>display-im6.q16</execute>
            </action> </item>
            <item label="lefty"> <action name="Execute">
                <execute>lefty</execute>
            </action> </item>
            <item label="LRF viewer"> <action name="Execute">
                <execute>lrfviewer</execute>
            </action> </item>
            <item label="Wordview"> <action name="Execute">
                <execute>wordview</execute>
            </action> </item>
            <item label="Xditview"> <action name="Execute">
                <execute>xditview</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
            <item label="DroidCam"> <action name="Execute">
                <execute>droidcam</execute>
            </action> </item>
            <item label="Kamoso"> <action name="Execute">
                <execute>kamoso</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="Plex Media Server"> <action name="Execute">
                <execute>x-www-browser http://localhost:32400/manage</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Brave Web Browser"> <action name="Execute">
                <execute>brave-browser-stable</execute>
            </action> </item>
            <item label="Brave Web Browser"> <action name="Execute">
                <execute>brave-browser</execute>
            </action> </item>
            <item label="Element"> <action name="Execute">
                <execute>element-desktop</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="KDE Connect"> <action name="Execute">
                <execute>kdeconnect-app</execute>
            </action> </item>
            <item label="KDE Connect Indicator"> <action name="Execute">
                <execute>kdeconnect-indicator</execute>
            </action> </item>
            <item label="KDE Connect SMS"> <action name="Execute">
                <execute>kdeconnect-sms</execute>
            </action> </item>
            <item label="Konversation"> <action name="Execute">
                <execute>konversation</execute>
            </action> </item>
            <item label="Links"> <action name="Execute">
                <execute>xterm -e links</execute>
            </action> </item>
            <item label="Lynx"> <action name="Execute">
                <execute>xterm -e lynx</execute>
            </action> </item>
            <item label="qBittorrent"> <action name="Execute">
                <execute>qbittorrent</execute>
            </action> </item>
            <item label="Signal"> <action name="Execute">
                <execute>signal-desktop</execute>
            </action> </item>
            <item label="Slack"> <action name="Execute">
                <execute>slack</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi-stable</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi</execute>
            </action> </item>
            <item label="W3m"> <action name="Execute">
                <execute>xterm -e w3m</execute>
            </action> </item>
            <item label="w3m"> <action name="Execute">
                <execute>xterm -e w3m /usr/share/doc/w3m/MANUAL.html</execute>
            </action> </item>
            <item label="Zoom"> <action name="Execute">
                <execute>zoom</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Atril Document Viewer"> <action name="Execute">
                <execute>atril</execute>
            </action> </item>
            <item label="calibre"> <action name="Execute">
                <execute>calibre</execute>
            </action> </item>
            <item label="Calligra Sheets"> <action name="Execute">
                <execute>calligrasheets</execute>
            </action> </item>
            <item label="Calligra Stage"> <action name="Execute">
                <execute>calligrastage</execute>
            </action> </item>
            <item label="Calligra Words"> <action name="Execute">
                <execute>calligrawords</execute>
            </action> </item>
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="E-book editor"> <action name="Execute">
                <execute>ebook-edit</execute>
            </action> </item>
            <item label="Gnumeric"> <action name="Execute">
                <execute>gnumeric</execute>
            </action> </item>
            <item label="Karbon"> <action name="Execute">
                <execute>karbon</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice</execute>
            </action> </item>
            <item label="Okular"> <action name="Execute">
                <execute>okular</execute>
            </action> </item>
            <item label="Xbiff"> <action name="Execute">
                <execute>xbiff</execute>
            </action> </item>
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="39" label="Other">
            <item label="Help"> <action name="Execute">
                <execute>khelpcenter</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet.netkit</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Bash"> <action name="Execute">
                <execute>xterm -e bash --login</execute>
            </action> </item>
            <item label="Dash"> <action name="Execute">
                <execute>xterm -e dash -i</execute>
            </action> </item>
            <item label="Dolphin"> <action name="Execute">
                <execute>dolphin</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="Konsole"> <action name="Execute">
                <execute>konsole</execute>
            </action> </item>
            <item label="MATE Terminal"> <action name="Execute">
                <execute>mate-terminal</execute>
            </action> </item>
            <item label="Rxvt"> <action name="Execute">
                <execute>rxvt</execute>
            </action> </item>
            <item label="Rxvt Color Unicode Terminal"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="Sh"> <action name="Execute">
                <execute>xterm -e sh --login</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
            <item label="Zsh"> <action name="Execute">
                <execute>xterm -e zsh</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
                </action> </item>
                <item label="Input Method"> <action name="Execute">
                    <execute>im-config</execute>
                </action> </item>
                <item label="KDE Connect Settings"> <action name="Execute">
                    <execute>kdeconnect-settings</execute>
                </action> </item>
                <item label="KDE System Settings"> <action name="Execute">
                    <execute>systemsettings5</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Popup Notifications"> <action name="Execute">
                    <execute>mate-notification-properties</execute>
                </action> </item>
                <item label="Startup Applications"> <action name="Execute">
                    <execute>mate-session-properties</execute>
                </action> </item>
                <item label="Synaptic Package Manager"> <action name="Execute">
                    <execute>synaptic-pkexec</execute>
                </action> </item>
                <item label="TeXdoctk"> <action name="Execute">
                    <execute>texdoctk</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Xfontsel"> <action name="Execute">
                    <execute>xfontsel</execute>
                </action> </item>
                <item label="Xvidtune"> <action name="Execute">
                    <execute>xvidtune</execute>
                </action> </item>
            </menu>
            <item label="Discover"> <action name="Execute">
                <execute>plasma-discover</execute>
            </action> </item>
            <item label="Editres"> <action name="Execute">
                <execute>editres</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Info Center"> <action name="Execute">
                <execute>kinfocenter</execute>
            </action> </item>
            <item label="KeePassXC"> <action name="Execute">
                <execute>keepassxc</execute>
            </action> </item>
            <item label="KSysGuard"> <action name="Execute">
                <execute>ksysguard</execute>
            </action> </item>
            <item label="KWalletManager"> <action name="Execute">
                <execute>kwalletmanager5</execute>
            </action> </item>
            <item label="Logout (obsession)"> <action name="Execute">
                <execute>obsession-logout</execute>
            </action> </item>
            <item label="Pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="Synaptic Package Manager"> <action name="Execute">
                <execute>x-terminal-emulator -e synaptic-pkexec</execute>
            </action> </item>
            <item label="System Monitor"> <action name="Execute">
                <execute>plasma-systemmonitor</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
            <item label="Xclipboard"> <action name="Execute">
                <execute>xclipboard</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>x-terminal-emulator -e xev</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xload"> <action name="Execute">
                <execute>xload</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Ark"> <action name="Execute">
                <execute>ark</execute>
            </action> </item>
            <item label="Bc"> <action name="Execute">
                <execute>xterm -e bc</execute>
            </action> </item>
            <item label="Dc"> <action name="Execute">
                <execute>xterm -e dc</execute>
            </action> </item>
            <item label="Emoji Selector"> <action name="Execute">
                <execute>ibus-ui-emojier-plasma</execute>
            </action> </item>
            <item label="Help"> <action name="Execute">
                <execute>yelp</execute>
            </action> </item>
            <item label="Klipper"> <action name="Execute">
                <execute>klipper</execute>
            </action> </item>
            <item label="Spectacle"> <action name="Execute">
                <execute>spectacle</execute>
            </action> </item>
            <item label="TeXInfo"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="VeraCrypt"> <action name="Execute">
                <execute>veracrypt</execute>
            </action> </item>
            <item label="Xcalc"> <action name="Execute">
                <execute>xcalc</execute>
            </action> </item>
            <item label="Xman"> <action name="Execute">
                <execute>xman</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
